/* Generel Section*/

:root {
  --primary: #bb86fc;
  --secondary: #3700b3;
  --lightGrey1: #2e2e2e;
  --lightGrey2: #333333;
  --grey1: #1e1e1e;
  --grey2: #232323;
  --greyHighlight: #444444;
  --background: #121212;
  --text: #e0e0e0;
  --highlight: #ffffff;
}

* {
  font-family: "Roboto", sans-serif;
  color: var(--text);
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  section,
  article,
  aside {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
  }

  section,
  article,
  aside {
    flex-direction: column;
  }

  nav a {
    padding: 5px;
    font-size: 14px;
  }
}

/* Element Section*/

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  background-color: var(--grey1);
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--lightGrey2);
  font-size: large;
}

main {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
nav {
  background-color: var(--grey1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--lightGrey1);
}

nav a {
  color: var(--primary);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}

nav a:hover {
  background-color: var(--lightGrey1);
}

footer {
  background-color: var(--grey1);
  padding: 10px;
  text-align: center;
  border-top: 2px solid var(--lightGrey1);
}

button {
  background-color: var(--lightGrey2);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: var(--primary);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border: 2px solid var(--lightGrey1);
  text-align: left;
}

th {
  background-color: var(--lightGrey1);
}

tr {
  border-color: var(--primary);
}

tr:nth-child(even) {
  background-color: var(--grey1);
}

tr:nth-child(odd) {
  background-color: var(--grey2);
}

select {
  background-color: var(--lightGrey2);
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  appearance: none;
  transition: background-color 0.3s;
}

select:hover {
  background-color: var(--primary);
}

/* Input-Felder im Material-UI-Stil */
input {
  background-color: var(--lightGrey2);
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  background-color: var(--greyHighlight);
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
  margin: 20px 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--highlight);
  text-decoration: underline;
}

/* Class Section*/

.image-size {
  width: 100px;
  height: 100px;
  filter: invert(100%);
}

.street::before {
  content: "📬";
}
.city::before {
  content: "🏘️";
}

.mail::before {
  content: "📧 ";
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-container label {
  white-space: nowrap;
  flex: 1;
  margin-right: 10px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.button-container button {
  flex: 1 1 7%;
  box-sizing: border-box;
}

.highlight-border {
  border: 3px solid var(--primary) !important;
}

.index-layout {
  display: flex;
  gap: 150px;
  flex-direction: row;
}

/* ID Section*/

#version {
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  width: 80%;
}
